extends layout
include _includes/blog-sidebar.jade

block content
  #header-title.card.w-100.bg-dark
    .card-body 
      h3.text-light This is my title header
  //- Blog container
  .blog-container.d-flex.flex-wrap.justify-content-center.p-1
    .blog-cards-container.mr-auto.p-1
      if message
        h1 #{message}
      each topic in topics
        //- Blog card
        .blog-card.mdl-card.mdl-shadow--2dp.w-100.mt-2
          .mdl-card__title(style="background: url(#{topic.featured_photo}) center/cover;")
            h2.mdl-card__title-text #{topic.title}
          .mdl-card__supporting-text.w-100.blog-summmary #{topic.summary}
          .mdl-card__actions.mdl-card--border
            a(href="/blog/#{topic._id}").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Read More
        //- End: Blog card 
      //- End: Blog container
    .sidebar-container.p-1
      +archives(archives)

    


  

    
