mixin archives(archives)
  //- each archive in archives
  //-   p #{archive._id}
  //-   each blog in archive.blogs
  //-     p #{blog.title}
  .author-card.mdl-card.mdl-shadow--2dp.w-100.mt-2
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Author
    .mdl-card__supporting-text.text-center 
      p.m-0 Code 
        i.material-icons code
      p.m-0 
        i.material-icons group
        span Share
      p.m-0 Repeat
        i.material-icons autorenew
  .archive-card.mdl-card.mdl-shadow--2dp.w-100.mt-2
    .mdl-card__title
      h4 Archives
    .mdl-card__actions.mdl-card--border
      #accordion
      each archive in archives
        .card.archive-cards
          #headingOne.card-header
            h5.mb-0
              button.btn.btn-link(data-target="##{archive._id}",data-toggle="collapse",aria-expanded="true", aria-controls="collapseOne")#archive-year 
                span #{archive._id}
                i.material-icons today
          .collapse(id="#{archive._id}").show(aria-labelledby="headingOne", data-parent="#accordion")
            .card-body
              ul
                each blog in archive.blogs
                  li 
                    a(href='/blog/#{blog._id}') #{blog.title}
        // End: Accordion Content